.numbers{
    padding-top: 15px;
}

::ng-deep .ui-button{
    margin-left: 10px !important;
}

.validate{
    padding-top: 10px;
    text-align: center;
}

.image{
    max-width:50%; 
    height:auto; 
    margin-bottom: 10px;
}
